<script type="text/javascript">
  $(document).ready(function() {
    g = NewGrid(<%= @game_board_width %>, <%= @game_board_height %>);
    initializeGame();
  });
</script>
<div id="main">
  <div id="sidebar" class='hidden-cls'>
    <div class="collapsiblesection">      
      <div class="group">
        <%= text_field_tag t('global.boxsize'), get_box_size, id: t('global.boxsize') %>
      </div>
    </div> 
    <%= text_field_tag t('global.gridwidth'), @game_board_width, id: t('global.gridwidth') %> 
    <%= text_field_tag t('global.gridheight'), @game_board_height, id: t('global.gridheight') %>
  </div>
  <div id="controls">
    <div id="buttonholder">
      <button id="gamecontrol" value="stop"><%= t('button.start') %></button>
    </div>
  </div>
  <div id="thegame">
    <div id="tablearea">
    </div>
    <div id="prefabs">
      <% @games.each do |game| %>
        <%= button_tag :id => game.title, :class => "prefab" do %>
         <%= image_tag(game.avatar.url, height: game.game_height_in_pixel, width: game.game_width_in_pixel) %>
         <div class="button-label" ><%= game.title.capitalize %></div>
        <% end %>
      <% end %>      
    </div>
  </div>
  <%= hidden_field_tag t('global.gamespeed'), get_game_speed, id: t('global.gamespeed') %>
</div>


